.manualMissions {
  &__title {
    text-align: right;
    margin: 1rem 0 2rem 0;
  }
  &__amount {
    margin: 0.8rem 0;
  }
  &__table {
    height: 36rem;
    overflow: auto;
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    &Row {
      cursor: pointer;
    }
  }
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
}
