@import "../../App.scss";

.header {
  height: 8rem;
  background-color: $color-primary;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__right {
    // border: 1px solid green;
  }

  &__center {
    //border: 1px solid brown;
    flex: 0.8;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex: 0.7;
    // border: 1px solid red;
  }

  &__logginWrapper {
    margin-right: 7px;
  }
}

@media (min-width: 760px) {
  .header {
    &__center {
      flex: 0.6;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    justify-content: space-evenly;

    &__right {
      display: none;
    }

    &__center {
      flex: 0.4;
    }
  }
}
