.header {
  height: 8rem;

  -webkit-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  box-shadow: 0px 0px 9px 3px rgba(41, 41, 41, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  background-color: #1e212a;

  &__center {
    //border: 1px solid brown;
    flex: 0.8;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //flex: 0.7;
    // border: 1px solid red;

    .MuiButton-outlinedSecondary {
      color: #fff;
      border: 1px solid #fff;
    }
    .MuiButton-outlinedSecondary:hover {
      background-color: #96989d;
      border: 1px solid #fff;
    }

    #logout-header-btn {
      .MuiButton-outlinedSecondary {
        color: #c9cace;
        border: 1px solid #c9cace;
      }
    }
  }

  &__addLeadWrapper {
    margin-right: 7px;
  }

  &__logginWrapper {
    margin-right: 7px;
  }

  &__avatar-container {
    display: none;
  }
}

@media (min-width: 760px) {
  .header {
    &__center {
      flex: 0.6;
    }
  }
}

@media (min-width: 1200px) {
  .header {
    justify-content: space-evenly;
    position: relative;

    &__right {
      visibility: hidden;
      opacity: 0;
    }

    &__center {
      flex: 0.4;
    }

    &__avatar-container {
      position: absolute;
      right: 20px;
      display: block;
    }
  }
}
