.statistics {
  &__title {
    text-align: center;
    margin: 1rem 0;
  }
  &__cards {
    margin: 1rem 0 5rem 0;
    //border: 1px solid red;
  }
  &__card {
    margin: 1.5rem 0;
    // border: 1px solid green;
  }
  &__charts {
    //border: 1px solid red;
  }
  &__chart {
    margin: 4.6rem 0;
    // border: 1px solid lightgray;

    &Desc {
      padding: 1rem 0;
      margin-bottom: 1.4rem;
    }
    &Btns {
      // border: 1px solid greenyellow;
      display: flex;
      justify-content: space-evenly;
      padding: 1rem 0;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
  .statistics {
    &__cards {
      display: flex;
      justify-content: space-between;
    }
    &__card {
      margin: 1.5rem 1rem;
    }
    &__charts {
      padding: 1rem;
    }
    &__chart {
      margin: 5.6rem 0;

      &Desc {
        max-width: 60%;
      }
    }
  }
}
