@import "../../App.scss";

.navDesktop {
  display: none;
}

@media (min-width: 1200px) {
  .MuiTypography-body1 {
    font-size: 1.3rem !important;
    color: gray;
  }
  .navDesktop {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    min-height: 86.5vh;
    border: 1px solid lightgray;

    &__top {
      //border: 1px solid yellow;
      flex: 0.2;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: $color-primary-dark;
      color: $white;
      padding: 5px 2px;

      &--logoContainer {
        background-color: $white;
        width: 70%;
        margin: 0 auto;
      }
    }

    &__bottom {
      //border: 1px solid blue;
      flex: 0.8;
    }
  }
}
