@import "../../App.scss";

.generalLeadsList {
  &__box {
    margin: 1rem 0.3rem;
    background-color: #eee;
    padding: 5px;
    height: 43rem;
    overflow-y: auto;
    // box-shadow: 1px 2px 2px #888;
    // border: 1px solid lightgray;

    &--title {
      @include sectionTitle;
    }
    &--totalNum {
      font-size: 1.4rem;
    }
  }
  &__1 {
    // border: 1px solid red;
  }
  &__2 {
    // border: 1px solid yellow;
  }
  &__3 {
    //  border: 1px solid green;
  }
  &__4 {
    // border: 1px solid orange;
  }
}

#generalLeadsList__missionBox {
  background-color: #fff;
  border: 1px solid #eee;
  //background-color: lighten(#000, 20%);

  .generalLeadsList__box--title,
  .generalLeadsList__box--totalNum {
    //color: #fff;
  }
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
  .generalLeadsList {
    //border: 1px solid black;
    width: 100%;

    overflow: auto;
    margin: 1.5rem 0 0 0;

    &__boxes {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      height: 45rem;
      width: 30.1rem;
    }

    &__radioForm {
      margin-right: 1rem;
    }
    &__radioBtns {
      display: flex;
      flex-direction: row !important;
    }
  }
}
