@import "../../App.scss";

.generalLeadsList {
  &__box {
    margin: 1rem 0.3rem;
    background-color: #fff;
    padding: 5px;
    height: 43rem;
    overflow-y: auto;
    // box-shadow: 1px 2px 2px #888;
    border: 1px solid #eee;

    &--title {
      @include sectionTitle;
    }
    &--totalNum {
      font-size: 1.4rem;
    }
  }
  &__missionsAndLeadSourcePie {
    // border: 1px solid red;

    &--leadSurce {
      border: 1px solid #eee;
    }
    &--missions {
      border: 1px solid #eee;
      //height: 27rem;
    }
  }
  &__1 {
    // border: 1px solid red;
  }
  &__2 {
    // border: 1px solid yellow;
  }
  &__3 {
    //  border: 1px solid green;
  }
  &__4 {
    // border: 1px solid orange;
  }
}

#generalLeadsList__missionBox {
  background-color: #fff;
  border: 1px solid #eee;
  //background-color: lighten(#000, 20%);

  .generalLeadsList__box--title,
  .generalLeadsList__box--totalNum {
    //color: #fff;
  }
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
  .generalLeadsList {
    //border: 1px solid black;
    //width: 99%;

    overflow: auto;
    margin: 1.5rem 0 0 0;

    &__missionsAndLeadSourcePie {
      //border: 1px solid blue;
      //margin: 0 auto;
      display: flex;
      justify-content: space-around;

      &--leadSurce {
        //border: 1px solid green;
        //width: 35%;
        margin-right: 0.5rem;
        padding: 4px;
        canvas {
          height: 24rem !important;
          width: auto !important;
        }
      }
      &--missions {
        //  border: 1px solid yellow;
        // width: 55%;
        height: 27rem;
        overflow-y: auto;
        padding: 4px;
      }
    }

    &__boxes {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      height: 45rem;
      //width: 30.1rem;
    }

    &__radioForm {
      margin-right: 1rem;
    }
    &__radioBtns {
      display: flex;
      flex-direction: row !important;
    }
  }
}
