@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

// variables
$color-primary-light: #4dabf5;
$color-primary-main: #2196f3;
$color-primary-dark: #1769aa;
$color-secondary-light: #f73378;
$color-secondary-main: #f50057;
$color-secondary-dark: #ab003c;
$color-text-dark: black;
$color-text-light: black;
$white: #fff;

// mixins
@mixin sectionTitle {
  color: $color-primary-dark;
  padding: 3px 0;
  margin-bottom: 10px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app {
  height: 100vh;
  font-family: "Varela Round", sans-serif;
}

@media (min-width: 760px) {
}

@media (min-width: 1200px) {
  .app__main {
    display: flex;
  }
}
